#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 100px;
  height: 100px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid green;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Page content, not loading screen */
#wrapper {
  display: none;
  border: 1px solid black;
  background-color: #F7F8F9;
  margin-top: 15%;
  margin-left: 5%;
  text-align: center;
  min-width: 10px;
}
textarea {
  border: 2px solid black;
  background-color: #E1E2E3;
}
a {
  color: green;
}
#res {
  margin-left: 350px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border: 2px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #E1E2E3;
}
#script {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border: 2px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #E1E2E3;
}
.table {
  position: flex;
}
.left {
  float: left;
  display: inline-block;
}
.btn {
  background: #bfbfbf;
  background-image: -webkit-linear-gradient(top, #bfbfbf, #a3a3a3);
  background-image: -moz-linear-gradient(top, #bfbfbf, #a3a3a3);
  background-image: -ms-linear-gradient(top, #bfbfbf, #a3a3a3);
  background-image: -o-linear-gradient(top, #bfbfbf, #a3a3a3);
  background-image: linear-gradient(to bottom, #bfbfbf, #a3a3a3);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #000000;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
}
.btn:hover {
  background: #a3a3a3;
  background-image: -webkit-linear-gradient(top, #a3a3a3, #adadad);
  background-image: -moz-linear-gradient(top, #a3a3a3, #adadad);
  background-image: -ms-linear-gradient(top, #a3a3a3, #adadad);
  background-image: -o-linear-gradient(top, #a3a3a3, #adadad);
  background-image: linear-gradient(to bottom, #a3a3a3, #adadad);
  text-decoration: none;
}
